In [2]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32, 35, 28,24, 32, 31],
    'windspeed' : [6, 7, 2, 7 , 4, 2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
} 
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [19]:
rows, columns = df.shape

In [20]:
columns

4

In [25]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [26]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [29]:
#Slicing

df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [30]:
#Print columns

df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [31]:
#Print columns of 'day'

df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [32]:
df['event'] #df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [33]:
type(df['event'])

pandas.core.series.Series

In [36]:
df[['event', 'day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [37]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [39]:
df['temperature'].max()

35

In [41]:
df['temperature'].min()

24

In [42]:
df['temperature'].std()

3.8297084310253524

In [40]:
df['temperature'].mean()

30.333333333333332

In [43]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [44]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [45]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [46]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [5]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [ ]:
#Set index

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [20]:
df.set_index('day', inplace = True)

KeyError: "None of ['day'] are in the columns"

In [21]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [22]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [28]:
df.reset_index(inplace=True)
df

   event  index       day  temperature  windspeed
0   Rain      0  1/1/2017           32          6
1  Sunny      1  1/2/2017           35          7
2   Snow      2  1/3/2017           28          2
3   Snow      3  1/4/2017           24          7
4   Rain      4  1/5/2017           32          4
5  Sunny      5  1/6/2017           31          2

In [29]:
df.set_index('event',inplace=True)
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [30]:
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7